.authentication{
    width: 1280px;
    display: flex;
    align-items: center;
    gap: 160px;
    margin: 20px auto 20px auto;
}

.authentication_image{
    width: 560px;
    height: 920px;
    border-radius: 12px;
    background-image: url('./images/illustration-authentication.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-shrink: 0;
    padding: 40px;
}

.authentication_logo{
    width: 121.454px;
    height: 21.76px;
}

.authentication_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.authentication_content > h1{
    color: var(--color-white, #FFF);
    font-family: var(--font);
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 38.4px */
    margin: 0px;
}

.authentication_content > p{
    color: var(--color-white, #FFF);
    font-family: var(--font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    margin: 0px;
}