{
    "plugins": [
        [
          "babel-plugin-root-import",                            
          {
            "paths": [
              {
                "rootPathSuffix": "./src",             
                "rootPathPrefix": "~/"                //  ~/ will now represent ./src    so you dont have to write ../../../../src
              },
              {
                "rootPathSuffix": "./src/Components/Budgets/DisplayBudget",
                "rootPathPrefix": "`/"
              },
              {
                "rootPathSuffix": "./src/Components/Transactions/DisplayTransactions",
                "rootPathPrefix": "!/"
              }
            ]
          }
        ]
      ]
    }