@media(max-width: 1430px){
    .container{
        width: 100%;
        grid-template-columns: 0.73fr 1fr;
        padding: 24px;
    }
}

@media(max-width: 950px){
    .allBudgets{
        grid-column: 1/3;
        row-gap: 32px; 
    }
    .container{
        grid-template-columns: 1fr;
        column-gap: 0px;        
    }
}