@media(max-width: 1170px){
    .transactions{
        padding: 24px;
    }

    .transactions_title{
        font-size: 0.875rem;
        line-height: 80%;
    }

    .transactions_arrow{
        display: none;
    }
}
