.transactions{
    width: 1060px;
    display: grid;
    align-content: start;
    grid-template-columns: 1fr auto;
    flex-direction: column;
    gap: 32px;
    padding: 32px 40px;
}

.transactions > h1{
    color: var(--color-grey-900, #201F24);
    font-family: var(--font);
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 38.4px */
    margin: 0px;
}

@media(max-width: 850px){
    .transactions{
        width: 100%;
    }

    .transactions > h1{
        padding: 8px 0px
    }
}

@media(max-width: 620px){
    .transactions{
        padding: 32px 16px;
    }
}