.container{
    position: relative;
}

.budget_button{
    background-color: transparent;
    border: none;
    padding: 0px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.budget_button > img{
    width: 16px;
    height: 16px;
}

.budget_dropdown{
    width: 134px;
    height: 91px;
    padding: 12px 20px;
    border-radius: var(--spacing-100, 8px);
    background: var(--color-white, #FFF);
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    position: absolute;
    right: 0px;
    top: 28px;
    transition: all 0.2s linear, transform 0s;
}

.budget_dropdown > button{
    background-color: transparent;
    text-align: left;
    padding: 0px;
    border: none;
    color: var(--color-grey-900, #201F24);
    font-family: var(--font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    cursor: pointer;
}

.budget_dropdown > button:first-child{
    color: var(--color-grey-900, #201F24);
}

.budget_dropdown > button:first-child:hover{
    color: #a4a3a5;
}

.budget_dropdown > button:last-child{
    color: var(--color-red, #C94736);
}

.budget_dropdown > button:last-child:hover{
    color: #ce948d;
}

.overlay{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: var(--closest, 100);
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.50);
}

.dialog{
    display: grid;
    align-content: start;
    grid-template-columns: 1fr 32px;
    row-gap: 20px;
    width: 560px;
    height: 490px;
    border-radius: var(--spacing-150, 12px);
    background-color: var(--color-white, #FFF);
    padding: 32px;
    border: none;
    inset: 0;
    margin: auto;
}

.dialog_title{
    grid-column: 1/2;
    grid-row: 1/2;
    color: var(--color-grey-900, #201F24);
    font-family: var(--font);
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 38.4px */
    margin: 0px;
}

.dialog_desc{
    grid-column: 1/3;
    grid-row: 2/3;
    color: var(--color-grey-500, #696868);
    font-family: var(--font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    margin: 0px;
}

.dialog_close{
    width: 32px;
    height: 32px;
    background-color: #696868;
    mask-image: url('./icons/icon-close-modal.svg');
    mask-size: 25.5px 25.5px;
    mask-repeat: no-repeat;
    mask-position: center;
    cursor: pointer;
}

.dialog_close:hover{
    background-color: black;
}

@media(max-width: 620px){
    .dialog{
        width: 335px;
        padding: 24px 20px;
        align-items: center;
    } 

    .dialog_title{
        font-size: 1.25rem;
        font-style: normal;
    }
}