.budgets{
    width: 100%;
    padding: 32px;
    border-radius: var(--spacing-150, 12px);
    background-color: var(--color-white, #FFF);
    display: grid;
    align-content: start;
    grid-template-columns: 1fr 101px;
    row-gap: 51px;
    column-gap: 19.5px;
    grid-column: 2/3;
    grid-row: 1/2;
}

.budgets_title{
    color: var(--color-grey-900, #201F24);
    font-family:var(--font);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 24px */
    margin: 0px;
}

.budgets_button{
    padding: 0px;
    color: var(--color-grey-500, #696868);
    font-family: var(--font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: end;
}

.budgets_arrow{
    width: 12px;
    height: 12px;
    background-color: #696868;
    mask-image: url('./icons/icon-caret-right.svg');
    mask-size: 5px 10px;
    mask-position: center;
    mask-repeat: no-repeat;
}

.budgets_button:hover{
    color: #201F24;
}

.budgets_button:hover > .budgets_arrow{
    background-color: #201F24;
}
