.container{
    display: grid;
    grid-template-columns: 60px 1fr;
    row-gap: 4px;
    column-gap: 10px;
    padding: 0px;
    margin: 0px;
    border: none;
    position: relative;
}

.container > label{
    color: var(--color-grey-500, #696868);
    font-family: var(--font);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 18px */
    grid-column: 1/3;
}

.container_input{
    width: 100%;
    position: relative;
    grid-column: 2/3;
    grid-row: 2/3;
}

.container_input > input {
    width: 100%;
    color: #201F24;
    height: 45px;
    padding: 12px 12px 12px 42px;
    border-radius: 8px;
    border: 1px solid var(--color-beige-500, #98908B);
    background-color: white;
}

.dollarSign{
    width: 10px;
    height: 21px;
    position: absolute;
    left: 20px;
    bottom: 12px;
}

.container_input > input::placeholder{
    color: var(--color-beige-500, #98908B);
}

.container_input > input:focus{
    outline: none;
    border-color: #696868;
}

.container_input > input:hover{
    border-color: #696868;
}

.errorMessage{
    font-size: 0.75rem;
    font-family: var(--font);
    color: red;
    grid-column: 1/3;
    grid-row: 3/4;
}