.category{
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--color-grey-500, #696868);
    font-family: var(--font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
}

.category_container{
    width: 177px;
    height: 45px;
    border-radius: var(--spacing-100, 8px);
    border: 1px solid var(--color-beige-500, #98908B);
    background-color: var(--color-white, #FFF);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18.5px;
    cursor: pointer;
    position: relative;
}

.category_container > strong{
    width: 105px;
    text-align: center;
    color: var(--color-grey-900, #201F24);
    font-family: var(--font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
}

.category_container:hover{
    border-color: #696868;
}

.category_icon{
    width: 11.001px;
    height: 6px;
    flex-shrink: 0;
}

.category_dropdown{
    width: 100%;
    padding: 12px 20px;
    border-radius: 8px;
    background-color: var(--color-white, #FFF);
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25);
    position: absolute;
    bottom: -347px;
}

.category_dropdown_list{
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.category_dropdown_list > li{
    color: var(--color-grey-900, #201F24);
    font-family: var(--font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    cursor: pointer;
}

.category_dropdown_list > li:not(.categoryt_dropdown_list > li:last-child){
    padding-bottom: 12px;
    border-bottom: 1px solid #F2F2F2;
}