@media(max-width: 1430px){
    .overview{
        width: 100%;
        padding: 32px 20px;
    }

    .overview_misc{
        grid-template-columns: 1fr 0.7fr;
        transition: all 0.2s linear, grid-template-columns 0s;
    }
}

@media(max-width: 1021px){
    .overview_misc{
        grid-template-columns: 385px 1fr;
    }
}


@media(max-width: 950px){
    .overview_misc{
        grid-template-columns: 1fr;
    }
}