.overview{
    width: 1140px;
    padding: 32px 40px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.overview_misc{
    display: grid;
    grid-template-columns: 608px 428px;
    gap: 24px;
}
