.overview{
    width: 1140px;
    padding: 32px 40px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.loading_header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.overview_misc{
    display: grid;
    grid-template-columns: 608px 428px;
    gap: 24px;
    transition: all 0.2s linear, grid-template-columns 0.2s linear;
}

.overview_columnOne, .overview_columnTwo{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media(max-width: 850px){
    .overview{
        width: 100%;
        padding: 32px 40px;
    }

    .overview_misc{
        grid-template-columns: 1fr;
    }
}

@media(max-width: 620px){
    .overview{
        padding: 24px 16px;
    }

    .overview_columnOne, .overview_columnTwo{
        gap: 16px;
    }
}