@media(max-width: 1440px){
    .container{
        grid-template-columns: 337px 1fr;
    }
}

@media(max-width: 1200px){
    .container{
        grid-template-columns: 220px 1fr;
    }
}


@media(max-width: 1000px){
    .container{
        grid-template-columns: 1fr;
    }

    .column{
        flex-direction: row;
    }

    .loading{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .loading_bills, .loading_summary{
        height: 204px;
    }
}